In [1]:
import pandas as pd
import numpy as np

In [25]:
#題目一

In [3]:
random = np.random.randint(10,20,5)

In [4]:
population = list(random)

In [5]:
country = ["taiwan","china","usa","jp","korea"]

In [6]:
label = ["country","population"]
cols = [country,population]
datalist=list(zip(label,cols))

In [7]:
datalist

[('country', ['taiwan', 'china', 'usa', 'jp', 'korea']),
 ('population', [10, 10, 16, 11, 17])]

In [8]:
data = dict(datalist)

In [10]:
df = pd.DataFrame(data)

In [12]:
df

  country  population
0  taiwan          10
1   china          10
2     usa          16
3      jp          11
4   korea          17

In [18]:
df.iloc[df['population'].idxmax()]

country       korea
population       17
Name: 4, dtype: object

In [26]:
#題目二

In [43]:
with open("C:\\Users\\呂明諺\\Desktop\\example.txt", 'r') as f:
    data = f.readlines()
print(data)

['id,sex,age,score\n', '001,F,20,77\n', '002,F,25,90\n', '003,M,22,80\n', '004,F,30,66\n', '005,M,40,60\n', '006,M,29,87']

In [60]:
data = []
with open("C:\\Users\\呂明諺\\Desktop\\example.txt", 'r') as f:
    for line in f:
        line = line.replace('\n', '').split(',')
        data.append(line)
data

[['id', 'sex', 'age', 'score'],
 ['001', 'F', '20', '77'],
 ['002', 'F', '25', '90'],
 ['003', 'M', '22', '80'],
 ['004', 'F', '30', '66'],
 ['005', 'M', '40', '60'],
 ['006', 'M', '29', '87']]

In [100]:
datacols = data[1:7]

In [128]:
datacols

[['001', 'F', '20', '77'],
 ['002', 'F', '25', '90'],
 ['003', 'M', '22', '80'],
 ['004', 'F', '30', '66'],
 ['005', 'M', '40', '60'],
 ['006', 'M', '29', '87']]

In [157]:
list1=[]
list2=[]
list3=[]
list4=[]

In [158]:
for i in range(len(datacols)):
    for x in range(len(datacols[i])):
        if x==0:
            list1.append(datacols[i][x])
        if x==1:
            list2.append(datacols[i][x])
        if x==2:
            list3.append(datacols[i][x])
        if x==3 :
            list4.append(datacols[i][x])

In [179]:
list_labels=[]

In [180]:
for i in range(len(data)):
    for x in range(len(data[i])):
        if i==0:
            list_labels.append(data[i][x])

In [181]:
list_labels

['id', 'sex', 'age', 'score']

In [182]:
list_cols = [list1, list2, list3,list4]

zipped = list(zip(list_labels, list_cols))

In [183]:
zipped

[('id', ['001', '002', '003', '004', '005', '006']),
 ('sex', ['F', 'F', 'M', 'F', 'M', 'M']),
 ('age', ['20', '25', '22', '30', '40', '29']),
 ('score', ['77', '90', '80', '66', '60', '87'])]

In [184]:
dict(zipped)

{'id': ['001', '002', '003', '004', '005', '006'],
 'sex': ['F', 'F', 'M', 'F', 'M', 'M'],
 'age': ['20', '25', '22', '30', '40', '29'],
 'score': ['77', '90', '80', '66', '60', '87']}

In [186]:
df2 = pd.DataFrame(dict(zipped))

In [187]:
df2

    id sex age score
0  001   F  20    77
1  002   F  25    90
2  003   M  22    80
3  004   F  30    66
4  005   M  40    60
5  006   M  29    87